*, *::after, *::before {
    margin: 0;
    padding: 0;
}

.header {
    padding: .5rem 2rem;
    background-color: #2C54A1;
}

li, a {
    color: white;
}

.title {
    text-align: center;
}

h1 {
    margin-bottom: 1rem;
}

.link {
    color: blue;
    text-decoration:underline;
    text-align: center;
}

main {
    margin: 0rem 2rem;
    width: 100vh;
}

article {
    margin: 2rem;
}

.gris {
    padding: 5rem;
    background-color: grey;
    text-align: center;
}

.footer {
    background-color: #2C54A1;
    padding: 1rem;
    color: white;
    text-align: center;
}

body>footer, body>header, body>main {
    padding: 0;
}

footer {
    margin-top: 2rem;
}

@media screen and (max-width: 1250px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 900px){
    .grid {
        grid-template-columns: 1fr;
    }
}